<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.example.architecture">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".testing.SingleFragmentActivity">
        </activity>
    </application>

</manifest>